{% extends 'base.html' %}

{% block title %}Editar Cliente{% endblock %}

{% block content %}
<h1>Editar Cliente</h1>

<form action="{{ url_for('actualizar_cliente', nif=cliente[0]) }}" method="post">
    <label>NIF (no editable):</label>
    <input type="text" name="nif" value="{{ cliente[0] }}" disabled><br>

    <label>Nombre:</label>
    <input type="text" name="nombre" value="{{ cliente[1] }}" required><br>

    <label>Dirección:</label>
    <input type="text" name="direccion" value="{{ cliente[2] }}" required><br>

    <label>Teléfono:</label>
    <input type="text" name="telefono" value="{{ cliente[3] }}" required><br>

    <button type="submit">Actualizar</button>
    <a href="{{ url_for('consulta') }}" class="cancelar">Cancelar</a>
</form>
{% endblock %}
